/* App.css */

.App {
  text-align: center;
  margin: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.h1 {
  color: #353434;
}

/* Styling for the loading spinner */
.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Styling for the Carousel captions */
.carousel-caption {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgba(49, 46, 46, 0.5);
  padding: 20px;
  color: #fff;
}

/* Optional: Add styles for the Carousel indicators or controls if needed */
.carousel-indicators {
  bottom: 10px;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: auto;
  bottom: 92px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #ff00e6;

  /* Customize control button styles as needed */
}

.carousel-item img {
  border-radius: 70px;
}
